<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="lidar_radius" value="0.035" />
    <xacro:property name="lidar_length" value="0.05" />

    <link name="topleft_lidar_link">
        <visual>
            <geometry>
                <cylinder radius="${lidar_radius}" length="${lidar_length}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="black" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${lidar_radius}" length="${lidar_length}" />
            </geometry>
        </collision>
        <xacro:cylinder_inertia m="1.0" r="${lidar_radius}" l="${lidar_length}"
                                o_xyz="0 0 0" o_rpy="0 0 0" />
    </link>

    <link name="backright_lidar_link">
        <visual>
            <geometry>
                <cylinder radius="${lidar_radius}" length="${lidar_length}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="black" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${lidar_radius}" length="${lidar_length}" />
            </geometry>
        </collision>
        <xacro:cylinder_inertia m="1.0" r="${lidar_radius}" l="${lidar_length}"
                                o_xyz="0 0 0" o_rpy="0 0 0" />
    </link>

    <joint name="base_topleft_lidar_joint" type="fixed">
        <parent link="base_link" />
        <child link="topleft_lidar_link" />
        <origin xyz="${base_length / 2.0 + 0.01} ${base_width / 2.0 + 0.01} 0" rpy="0 0 0.785398163" />
    </joint>

    <joint name="base_backright_lidar_joint" type="fixed">
        <parent link="base_link" />
        <child link="backright_lidar_link" />
        <origin xyz="${-base_length / 2.0 - 0.01} ${-base_width / 2.0 - 0.01} 0" rpy="0 0 -2.35619449" />
    </joint>
  
  <gazebo reference="topleft_lidar_link">
    <sensor name="topleft_lidar" type="gpu_lidar">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <topic>/topleft/scan</topic>
      <update_rate>10</update_rate>
      <gz_frame_id>topleft_lidar_link</gz_frame_id>
      <lidar>
        <scan>
          <horizontal>
            <samples>1168</samples>
            <resolution>1.00000</resolution>
            <min_angle>-2.30</min_angle>
            <max_angle>2.30</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.050000</min>
          <max>30.0</max>
          <resolution>0.02</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </lidar>
    </sensor>
  </gazebo> 

  <gazebo reference="backright_lidar_link">
    <sensor name="backright_lidar" type="gpu_lidar">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <topic>/backright/scan</topic>
      <update_rate>10</update_rate>
      <gz_frame_id>backright_lidar_link</gz_frame_id>
      <lidar>
        <scan>
          <horizontal>
            <samples>1168</samples>
            <resolution>1.00000</resolution>
            <min_angle>-2.30</min_angle>
            <max_angle>2.30</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.050000</min>
          <max>30.0</max>
          <resolution>0.02</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </lidar>
    </sensor>
  </gazebo> 


</robot>